*, ::after, ::before {
    box-sizing: border-box;
}

html, body{
    min-height: 100vh;
}

hr {
    margin: 1rem 0;
    color: inherit;
    background-color: black;
    border: 0;
    opacity: .25;
}

main{
    display: flex;
    flex-wrap: nowrap;
    height: 100vh;
    max-height: 100vh;
    overflow-x: auto;
    overflow-y: hidden;
}

.sidebar{
    border-right: 1px solid rgb(199, 199, 199);
    box-shadow: -3px 10px 10px 0 rgb(125, 125, 125);
}

.sidebar .title{
    display: flex;
    flex-direction: column;
}

.sidebar .title span{
    display: inline-block;
    width: 100%;
    text-align: left;
}

.sidebar .title .sub{
    font-size: 12px;
    color: rgb(142, 142, 142);
}

.sidebar .title .main{
    font-size: 19px;

}